---
layout: archive
title: "Research"
permalink: /research/
redirect_from:
  - /publications/
author_profile: true
show_title: false
---
{% include base_path %}

{% assign research_items = site.data.publications | sort: "sort_order" | reverse %}
{% for post in research_items %}
  <div class="list__item research-list__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">{{ post.title }}</h2>

      {% capture status_label %}
        {% if post.status == "Forthcoming" and post.venue %}
          Forthcoming in {{ post.venue }}
        {% elsif post.status %}
          {{ post.status | replace: "paper", "Paper" }}
        {% elsif post.venue %}
          {{ post.venue }}
        {% endif %}
      {% endcapture %}
      {% assign status_label = status_label | strip %}
      {% if status_label != "" %}
        <p class="archive__item-status">{{ status_label }}</p>
      {% endif %}

      {% if post.coauthors %}
        <p class="archive__item-coauthors">with <i>{% for coauthor in post.coauthors %}{% if coauthor.url %}<a href="{{ coauthor.url }}">{{ coauthor.name }}</a>{% else %}{{ coauthor.name }}{% endif %}{% unless forloop.last %}{% if forloop.rindex == 2 %} and {% else %}, {% endif %}{% endunless %}{% endfor %}</i></p>
      {% endif %}

      {% assign abstract_text = post.abstract | default: post.excerpt %}
      {% if abstract_text %}
        <p class="archive__item-excerpt" itemprop="description">{{ abstract_text | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}

      <p class="archive__item-resources">
        {% if post.websiteurl %}<a href="{{ post.websiteurl }}">Website</a>{% else %}<span class="archive__item-resource archive__item-resource--disabled">Website</span>{% endif %} |
        {% if post.paperurl %}<a href="{{ post.paperurl }}">Paper</a>{% else %}<span class="archive__item-resource archive__item-resource--disabled">Paper</span>{% endif %} |
        {% if post.dataurl %}<a href="{{ post.dataurl }}">Dataset</a>{% else %}<span class="archive__item-resource archive__item-resource--disabled">Dataset</span>{% endif %} |
        {% if post.codeurl %}<a href="{{ post.codeurl }}">Code</a>{% else %}<span class="archive__item-resource archive__item-resource--disabled">Code</span>{% endif %}
      </p>
    </article>
  </div>
{% endfor %}
