---
layout: archive
title: "Research"
permalink: /research/
redirect_from:
  - /publications/
author_profile: true
show_title: false
---
{% include base_path %}

{% assign research_items = site.data.publications | sort: "sort_order" | reverse %}
{% for post in research_items %}
  <div class="list__item research-list__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">{{ post.title }}</h2>

      {% capture status_label %}
        {% if post.status == "Forthcoming" and post.venue %}
          Forthcoming in {{ post.venue }}
        {% elsif post.status %}
          {{ post.status | replace: "paper", "Paper" }}
        {% elsif post.venue %}
          {{ post.venue }}
        {% endif %}
      {% endcapture %}
      {% assign status_label = status_label | strip %}
      {% if status_label != "" %}
        <p class="archive__item-status">{{ status_label }}</p>
      {% endif %}

      {% if post.coauthors %}
        <p class="archive__item-coauthors">with <i>{% for coauthor in post.coauthors %}{% if coauthor.url %}<a href="{{ coauthor.url }}">{{ coauthor.name }}</a>{% else %}{{ coauthor.name }}{% endif %}{% unless forloop.last %}{% if forloop.rindex == 2 %} and {% else %}, {% endif %}{% endunless %}{% endfor %}</i></p>
      {% endif %}

      {% assign summary_text = post.summary | default: post.excerpt %}
      {% if summary_text %}
        <div class="archive__item-summary" itemprop="description">{{ summary_text | markdownify }}</div>
      {% elsif post.abstract %}
        <div class="archive__item-summary" itemprop="description">{{ post.abstract | markdownify }}</div>
      {% endif %}

      {% if post.abstract and summary_text %}
        <details class="archive__item-abstract">
          <summary>Abstract</summary>
          {{ post.abstract | markdownify }}
        </details>
      {% endif %}

      {% assign has_resource = false %}
      {% if post.websiteurl or post.paperurl or post.dataurl or post.codeurl %}
        {% assign has_resource = true %}
      {% endif %}
      {% if has_resource %}
        <p class="archive__item-resources">
          {% assign needs_separator = false %}
          {% if post.websiteurl %}<a href="{{ post.websiteurl }}">Website</a>{% assign needs_separator = true %}{% endif %}
          {% if post.paperurl %}{% if needs_separator %} | {% endif %}<a href="{{ post.paperurl }}">Paper</a>{% assign needs_separator = true %}{% endif %}
          {% if post.dataurl %}{% if needs_separator %} | {% endif %}<a href="{{ post.dataurl }}">Dataset</a>{% assign needs_separator = true %}{% endif %}
          {% if post.codeurl %}{% if needs_separator %} | {% endif %}<a href="{{ post.codeurl }}">Code</a>{% endif %}
        </p>
      {% endif %}
    </article>
  </div>
{% endfor %}
