---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

<p>Selected research presentations and workshop appearances.</p>

{% assign talk_items = site.talks | sort: "year" | reverse %}
{% for post in talk_items %}
  <div class="list__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
      </h2>

      {% if post.year %}
        <p class="page__meta"><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ post.year }}</p>
      {% endif %}

      {% if post.excerpt %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}
    </article>
  </div>
{% endfor %}
