---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
show_title: false
---

{% include base_path %}

{% assign teaching_items = site.data.teaching | sort: "sort_order" | reverse %}
{% for post in teaching_items %}
  <div class="list__item research-list__item teaching-list__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">{{ post.title }}</h2>

      {% if post.level %}
        <p class="archive__item-teaching-meta">{{ post.level }}</p>
      {% endif %}

      {% if post.format %}
        <p class="archive__item-teaching-meta">{{ post.format }}</p>
      {% endif %}

      {% if post.terms %}
        <p class="archive__item-teaching-meta">{{ post.terms }}</p>
      {% endif %}

      {% if post.codeurl or post.repositoryurl or post.slidesurl %}
        <p class="archive__item-resources">
          {% assign needs_separator = false %}
          {% if post.codeurl %}<a href="{{ post.codeurl }}">Code</a>{% assign needs_separator = true %}{% endif %}
          {% if post.repositoryurl %}{% if needs_separator %} | {% endif %}<a href="{{ post.repositoryurl }}">Repository</a>{% assign needs_separator = true %}{% endif %}
          {% if post.slidesurl %}{% if needs_separator %} | {% endif %}<a href="{{ post.slidesurl }}">Slides</a>{% endif %}
        </p>
      {% endif %}
    </article>
  </div>
{% endfor %}
