---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
show_title: false
---

{% include base_path %}

{% assign teaching_items = site.data.teaching | sort: "sort_order" | reverse %}
{% for post in teaching_items %}
  <div class="list__item research-list__item teaching-list__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">{{ post.title }}</h2>

      {% if post.level %}
        <p class="archive__item-teaching-meta">{{ post.level }}</p>
      {% endif %}

      {% if post.format %}
        <p class="archive__item-teaching-meta">{{ post.format }}</p>
      {% endif %}

      {% if post.terms %}
        <p class="archive__item-teaching-meta">{{ post.terms }}</p>
      {% endif %}

      <p class="archive__item-resources">
        {% if post.codeurl %}<a href="{{ post.codeurl }}">Code</a>{% else %}<span class="archive__item-resource archive__item-resource--disabled">Code</span>{% endif %} |
        {% if post.repositoryurl %}<a href="{{ post.repositoryurl }}">Repository</a>{% else %}<span class="archive__item-resource archive__item-resource--disabled">Repository</span>{% endif %} |
        {% if post.slidesurl %}<a href="{{ post.slidesurl }}">Slides</a>{% else %}<span class="archive__item-resource archive__item-resource--disabled">Slides</span>{% endif %}
      </p>
    </article>
  </div>
{% endfor %}
